.wrapper {
  max-width: 1920px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliceWrapper {
  position: relative;
  border: 1px solid black;
  padding: 0;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}

.slice {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
}

li {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

li span {
  position: absolute;
  z-index: 2;
  top: 77%;
  left: 13%;
  font: icon;
  font-size: 40px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

li:first-child {
  -webkit-transform: rotate(0deg) skewY(150deg);
      -ms-transform: rotate(0deg) skewY(150deg);
          transform: rotate(0deg) skewY(150deg);
}

li:first-child .slice {
  background: #83d483;
}

li:nth-child(2) {
  -webkit-transform: rotate(60deg) skewY(150deg);
      -ms-transform: rotate(60deg) skewY(150deg);
          transform: rotate(60deg) skewY(150deg);
}

li:nth-child(2) .slice {
  background: #ffcc7f;
}

li:nth-child(3) {
  -webkit-transform: rotate(120deg) skewY(150deg);
      -ms-transform: rotate(120deg) skewY(150deg);
          transform: rotate(120deg) skewY(150deg);
}

li:nth-child(3) .slice {
  background: aqua;
}

li:nth-child(4) {
  -webkit-transform: rotate(180deg) skewY(150deg);
      -ms-transform: rotate(180deg) skewY(150deg);
          transform: rotate(180deg) skewY(150deg);
}

li:nth-child(4) .slice {
  background: #ffff89;
}

li:nth-child(5) {
  -webkit-transform: rotate(240deg) skewY(150deg);
      -ms-transform: rotate(240deg) skewY(150deg);
          transform: rotate(240deg) skewY(150deg);
}

li:nth-child(5) .slice {
  background: #c5c5ff;
}

li:nth-child(6) {
  -webkit-transform: rotate(300deg) skewY(150deg);
      -ms-transform: rotate(300deg) skewY(150deg);
          transform: rotate(300deg) skewY(150deg);
}

li:nth-child(6) .slice {
  background: #fda9b9;
}

.pointer {
  position: relative;
}

.pointer::after {
  content: '';
  position: absolute;
  left: -50px;
  border: 50px solid transparent;
  border-top: 70px solid black;
  z-index: 2;
}

.wheel {
  margin: 15px;
}

.wheel ._active {
  -webkit-transition: all 3s ease-in-out 0s;
  -o-transition: all 3s ease-in-out 0s;
  transition: all 3s ease-in-out 0s;
}

.wheelBtn {
  background-color: #fff;
  color: #000;
  border-radius: 40px;
  border: 2px solid #000;
  font-size: 2.5em;
  padding: 10px;
}

@media (max-width: 1024px) {
  .sliceWrapper {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 767px) {
  .sliceWrapper {
    width: 400px;
    height: 400px;
  }

  .pointer::after {
    left: -30px;
    border: 30px solid transparent;
    border-top: 50px solid black;
  }

  .wheelBtn {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .sliceWrapper {
    width: 300px;
    height: 300px;
  }

  .pointer::after {
    left: -20px;
    border: 20px solid transparent;
    border-top: 35px solid black;
  }

  .wheelBtn {
    font-size: 1em;
  }
}